@font-face
{	
	font-family: msyh;
	src: url("/msyh.ttc");
	font-family: msyhbd;
	src: url("/msyhbd.ttc");
}

*{  
	margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
}
		
.nav{
        height: 100px;
        background: linear-gradient(rgb(0, 0, 0),rgb(0, 0, 0));
}
.navlist li{
        float: left;
        height: 70px;
        width: 150px;
        line-height: 70px;
        text-align: center;
}
.navlist a{
        color: #FFFFFF;
	display: block;
}
.navlist{
	width: 1080px;
}
.navlist a:hover{
        background: rgb(20, 20, 20);
}
.title{
	font-family:msyhbd;
	font-style:italic;
	font-weight:bold;
}
.p{
	font-family:msyh;
}
.h1{
	font-family:msyh;
}
.h2{
	font-family:msyh;
}
.h3{
	font-family:msyh;
}
.a{
	color: #FFA500;
}
	
